body.settings.index {
  @extend .blue-grey, .lighten-5;

  main {
    .collection {
      @extend .z-depth-1;

      border: none;

      &.with-header {
        .collection-header {
          padding-left: 20px;

          h4 {
            margin: {
              top: 10px;
              bottom: 10px;
            };
            font: {
              weight: bold;
              size: 1.5rem;
            };
            color: $primary-color;
          }
        }
      }

      .collection-item {
        padding-left: 20px;

        & > div {
          margin: {
            top: 10px;
            bottom: 10px;
          };
          font-size: 1.4rem;

          // Checkbox
          p {
            display: inline-block;
            margin: {
              top: 0;
              bottom: 0;
            }

            label {
              padding: 0;
            }
          }

          .secondary-content.user-info {
            width: 91%;
            line-height: 1.3;
            color: $primary-color;

            .user-settings {
              @extend .right;

              width: 20px;
            }

            .fa {
              @extend .right;

              margin-top: 6px;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
