body.settings.index {
  main {
    .collection {
      @extend .z-depth-1;

      &.with-header {
        .collection-header {
          h4 {
            margin: {
              top: 10px;
              bottom: 10px;
            };
            font: {
              weight: bold;
              size: 1.2rem;
            };
            color: $primary-color;
          }
        }
      }

      .collection-item {
        // "title"
        & > div, .title {
          display: block;
          margin: {
            top: 15px;
            bottom: 15px;
          };
          font-size: 1.5rem;
          color: #37474f; // blue grey darken 3
        }

        .subtitle {
          display: block;
          margin-bottom: 10px;
          font-size: 1.1rem;
          color: $primary-color;
        }
      }
    }
  }
}
