body.settings.show {
  @extend .blue-grey, .lighten-5;

  .absolute-action-btn {
    @extend .fixed-action-btn;

    @media #{$small-and-down} {
      right: 25px;
      bottom: 25px;
    }
    @media #{$medium-and-up} {
      position: absolute;
      top: 20px;
      right: 120px;
    }

    a {
      color: $primary-color;
    }
  }

  // Avoid z-index conflict with add button
  @media only screen and (min-width: 993px) {
    #toast-container {
      top: 19%;
    }
  }

  main {
    .collection {
      margin-bottom: 3rem;
    }
  }
}
