body.settings.show {
  @extend .blue-grey, .lighten-5;

  .absolute-action-btn {
    @extend .fixed-action-btn;

    @media #{$small-and-down} {
      // position: fixed through .fixed-action-btn
      right: 30px;
      bottom: 30px;
    }
    @media #{$medium-and-up} {
      position: absolute;
      top: 20px;
      right: 120px;
    }

    a {
      @extend .btn-floating, .btn-large, .waves-effect, .waves-light;

      color: $primary-color;
    }
  }

  // Avoid z-index conflict with add button
  @media only screen and (min-width: 993px) {
    #toast-container {
      top: 19%;
    }
  }

  main {

  }
}
