html.screens.team {
  @extend .blue-grey, .lighten-5;

  height: 100%;

  body {
    height: 100%;

    main {
      height: 100%;

      .zones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        height: calc(100% - 100px);
        padding: 15px;
        overflow: hidden;

        .zone {
          @extend .white, .valign-wrapper, .z-depth-1;

          display: flex;

          &.full {
            width: 0;
            flex-grow: 1;
          }

          &.half {
            width: 49.4%;
            flex-grow: 0;
          }

          &.hidden {
            width: 0;
            flex-grow: 0;
          }

          .collection {
            width: 100%;
          }

          span {
            @extend .valign, .blue-grey-text, .text-lighten-3;

            margin: auto;
            font-size: 1.3rem;
            text-transform: uppercase;
          }
        }
      }

      .info {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        // flex-wrap: wrap;
        // align-items: stretch;
        height: 100px;
        padding: 0 15px 15px;
        font-size: 1.7rem;

        .room_occupied {
          @extend .valign-wrapper, .z-depth-1;

          span {
            @extend .valign;

            margin: auto;

            // text-transform: uppercase;
          }

          // display: flex;
          width: 49.4%;

          &.occupied {
            @extend .red, .lighten-3, .red-text, .text-darken-3;
          }

          &.not-occupied {
            @extend .green, .lighten-3, .green-text, .text-darken-3;
          }
        }

        .weather {
          // @extend .valign-wrapper, .blue-grey, .lighten-2, .z-depth-1;
          @extend .blue-grey, .lighten-2, .white-text, .z-depth-1;

          // display: flex;
          width: 49.4%;

        }
      }
    }
  }
}
