nav {
  @extend .white, .blue-grey-text, .text-darken-2;
  // @extend .white, .blue-grey-text, .text-darken-2, .z-depth-0;

  // TODO Passer par $navbar-height-mobile

  height: 70px;
  line-height: 70px;
  // border-bottom: 1px solid #cfd8dc; // blue-grey lighten-4

  a {
    @extend .blue-grey-text, .text-darken-3;
  }

  a.sidebar {
    display: inline-block;
    margin: {
      top: 5px;
      left: 20px;
    }
  }
}

.side-nav {
  li.current-user {
    position: absolute;
    bottom: 65px;

    .center-align {
      line-height: 20px;
    }

    img {
      width: 33%;
    }
  }
}
