nav {
  // @extend .white, .blue-grey-text, .text-darken-2;
  // @extend .white, .blue-grey-text, .text-darken-2, .z-depth-0;

  // TODO Passer par $navbar-height-mobile

  height: 70px;
  line-height: 70px;
  // border-bottom: 1px solid #cfd8dc; // blue-grey lighten-4

  a {
    // @extend .blue-grey-text, .text-darken-3;
  }

  a.sidebar {
    display: inline-block;
    margin: {
      top: 5px;
      left: 20px;
    }
  }
}

.side-nav {
  li {
    a {
      @extend .blue-grey-text, .text-darken-1;

      font-size: 1.3rem;

      i {
        margin-right: 20px;
      }
    }
  }
}
