.side-nav {
  .row {
    margin-bottom: 0;
  }

  .current-user {
    padding: {
      top: 20px;
      bottom: 10px;
    };
    background-color: $primary-color-light;
    line-height: 50px;

    span {
      font-size: 1.2rem;
    }
  }

  li {
    a {
      color: red;
      font-size: 1.2rem;
    }
  }
}
