.side-nav {
  .row {
    margin-bottom: 0;
  }

  .current-user {
    padding: {
      top: 20px;
      bottom: 10px;
    };
    background-color: $primary-color-light;
    line-height: 50px;

    span {
      font-size: 1.2rem;
    }
  }

  li {
    &.separator {
      border-bottom: 1px solid #607d8b;
    }

    a {
      padding: {
        right: 10px !important;
        left: 5px !important;
      };
    }
  }
}
