/*
 *= require_self
 */

@import 'base/fonts';
@import 'materialize/components/color';
@import 'base/variables';
@import 'materialize';
@import 'base/global';
@import 'components/*';
@import 'views/**/*';

html {
  &.sessions, &.registrations {
    @extend .blue-grey, .lighten-5;

    height: 100%;

    body {
      height: 100%;

      main {
        height: 100%;

        form {
          input[type=submit] {

          }
        }
      }
    }
  }
}
