/*
 *= require_self
 */

@import 'base/fonts';
// @import 'base/custom';
@import 'materialize/components/color';
@import 'base/variables';
@import 'materialize';
// @import 'base/mixins';
@import 'base/global';
@import 'components/*';
// @import 'partials/*';
@import 'views/**/*';

html {
  &.sessions.new, &.registrations.new {
    @extend .blue-grey, .lighten-5;

    height: 100%;

    body {
      height: 100%;

      main {
        @extend .valign-wrapper;

        height: 100%;

        form {
          @extend .valign;
        }
      }
    }
  }
}
